
:root {
  --primary-blue: #2492bf;
  --secondary-orange: #f39200;
  --inDetail-blue2: #216786;
  --inDetail-orange2: #d27600;
  --danger-color: #dc3545;
  --color3: #f8f9fa;
  --color8: #141617;
  --white: #FFFFFF;
  --tool-bg: #3B332F;
  --body-grey:#000718;
  /*#3d3d3d*/

}


