{% extends 'base.html' %}

{% block content %}


<div class="page-center" id="cont1">
  <h3 id="h3">You're done!</h3>

  <br>
  <br>
  <p>
    Before we show the estimate, we should remind you that applications are as unique and complexed as the businesses that use them.
  </p>
  <div>

  </div>
  <p>
    We will need to send you an automated email that describe the details to the price.  You can generate as many quotes as you wish.  Our intention is that you get the best value for your budget. Contact us for further advice.
  </p>
  <br>

  <div id=formdiv3 class="align center">

    <form id="myform">
      <div class="form-row">
        <label for="name">Name:</label>
        <input type="text" class="inputbox" id="name" name="name">
      </div>
      <div class="form-row">
        <label for="email">Email:</label>
        <input type="email" class="inputbox" id="email" name="email">
      </div>
      <div class="form-row">
        <button id="submitbtn" type="submit">Submit</button>
      </div>
    </form>


    <p id="response"></p>

  </div>

</div>

</div>

<div>
  <a href="/features.html">
    <div class="arrow-button left">
      <i class="fa fa-chevron-left"></i>
    </div>
  </a>

  <a href="/">
    <div class="arrow-button right">
      <i class="fa fa-chevron-right" style="color: var(--primary-blue);"></i>
    </div>
  </a>

</div> 

<script>

const form = document.getElementById("myform");
const submitBtn = document.getElementById("submitbtn");
const responseEl = document.getElementById("response");

submitBtn.addEventListener("click", (event) => {
  event.preventDefault(); // Prevents the default form submission behavior

  const formData = new FormData(form); // Creates a new FormData object with the form data

  fetch("/handle_formdata", {
    method: "POST",
    body: formData,
  })
  .then((response) => {
    if (response.ok) {
      return "Thankyou - Check your email."; // Convert the response to text
    } else {
      throw new Error('Form submission failed');
    }
  })
  .then((data) => {
    responseEl.innerHTML = data; // Set the HTML of the response element to the response message
  })
  .catch((error) => {
    responseEl.innerHTML = error.message; // Set the HTML of the response element to the error message
  });

});




</script>


{% endblock %}
